body{

    margin: 0 auto;
    background-color: rgb(112, 158, 204);
    

}

.contenedor{

    background-color: rgba(61, 97, 89, 0.747);
    width: 30%;
    height: auto;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 3%;
    overflow: hidden;
    text-align: center;
    border-radius: 3%;
    border:3px solid black ;
    /* padding: 1% 1% 1% 1%; */
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%; 
}



div p label {

    color: rgb(236, 235, 231);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

