label{

    color: black;
}

.editarDatos{

    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(52, 122, 122) !important;
    font-size: 180%;
}

.btnMakeChanges{

     margin-left: 80%;

}


@media  (max-width:767px)  {
  .btnMakeChanges{

     margin-left: 0%;

}
    }
  