body{

    margin: 0 auto;
    /* background-color: rgb(112, 158, 204); */
    

}

header{
    
    width: 60%;
    /* height: 40px; */
    background-color: rgba(61, 97, 89, 0.747);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
  
 
 }
 

nav ul{
    display: flex;
    flex-wrap: wrap;
}
nav ul li {

    list-style-type: none;
    display: block;
    float: left;
    margin-left: 1%;
    /* background-color: rgb(143, 212, 31); */
    padding-top: 1%;
   

}

nav ul li a{
    color: cornsilk;
    text-decoration: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
}


main{

    width: 90%;
    height: auto;
    /* background-color: darkorange; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* position: absolute; */
}

.posteos{

    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
     background-color: rgba(51, 90, 75, 0.76); 
     padding: 1%;
     border-radius: 1%;
}

#fotoPerfilPosteo{
width: 10%;
border-radius: 50%;

}

#fotoPosteo{

    width: 100%;
}

#nombrePerfil{

    font-size: large;
    color: rgb(0, 0, 0);
}

