body{

    margin: 0 auto;
    /* background-color: rgb(112, 158, 204); */
    

}

header{
    
    width: 60%;
    /* height: 40px; */
    background-color: rgba(61, 97, 89, 0.747);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
  
 
 }
 

nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav ul li {

    list-style-type: none;
    display: block;
    float: left;
    margin-left: 1%;
    /* background-color: rgb(143, 212, 31); */
    padding-top: 1%;
   

}

nav ul li a{
    color: cornsilk;
    text-decoration: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
}

.amigos{
    width: 30%;
    height: 100px;
    margin-top: 2%;
    margin-left: 20%;
    background-color: rgba(61, 97, 89, 0.747);
    

}

#imagenAmigo{
    width: 20%;
    display: block;
    float: left;
    padding-left: 2%;
}
#nombreAmigo{
    display: block;
    float: left;
    padding-left: 2%;
}