@font-face{


    src: url(../fonts/Handlee-Regular.ttf);
    font-family: ha;
}

button{

    font-family: ha;
    font-size: 90% !important;
}

.card-body{

    font-family: ha;
    font-size: 150% !important;
}

main{
    margin: auto;
    width: 40%;
    box-shadow: -5px 10px 5px 0px rgba(146, 146, 146, 0.75) !important;


}